.score-container {
    border-width: 2px; 
    border-style: solid;
    border-color: #4ade80; 
    margin-right: 16px;
    padding: 8px;
    border-radius: 6px 
}

#score {
    font-size: 18px;
    color: textColor 
}

